*{
    margin:0 0;
    padding:0 0;
    box-sizing: border-box;
}

body{
    background-color:#F6F0D7;
}

hr{
    border: 0;
    height: 25px;
    width: 100%;
}

/*Head*/

h2{
    font-size:40px;
    padding-top:30px;
    font-family: 'Caprasimo', cursive;
    animation: changecolorfont 10s infinite ease-in-out ;
    background-image:url("imgforcss/background1.jpg") ;
    background-position: center;
    padding-bottom:60px;
    background-size:100%;
    background-repeat:no-repeat;
    height:300px;
}

@keyframes changecolorfont{
    0%{
        color:rgb(0, 0, 0);
    }
    25%{
        color:#948647;
    }
    50%{
        color:#453e20;
    }
    75%{
        color:#bdaa57;
    }
    99%{
        color:rgb(0, 0, 0);
    }
}



/* MyPic */

.allimg{
    justify-content: space-around;
    
}

.allimg img{
    border: 10px solid #453e20;
    margin-right:70px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px black;
}

.allimg video{
    border: 10px solid #453e20;
    border-radius: 10px;
    box-shadow: 2px 5px 10px black;
}

/* MyInfo */

.MyProfile table{
    padding:5px 5px;
    background-color: #f4edcf;
    border:1px solid #fff6d0;
    border-radius: 25px;
    padding-bottom:15px;
    margin-bottom: 25px;
    box-shadow: 2px 5px 10px black;
    margin: auto;
    width:50%;
}

.MyProfile tr{
    border:1px solid #453e20;
    padding:5px 5px;
}

.MyProfile td{
    border-bottom:1px solid #453e20;
    padding:5px 5px;
    
}

/* Middle */


.middle{

    display:flex;
    width: auto;
    margin : auto;
    padding-bottom:40px ;
}

.leftside{
    float:left;
    width:25%;
    margin:auto;
    background-color: #ede7cd;
    margin-top:0px;
    padding-top:20px;
    padding-bottom:2.5%;
}

.leftside h4{
    margin-left:25%;
    font-size:20px;
    font-family: 'Noto Sans Thai', sans-serif;
    margin-bottom:30px;
}

.rightside{
    float:right;
    width:25%;
    margin:auto;
    margin-left:40px;
    margin-top:0px;
    padding-top:20px;
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #ede7cd;
    padding-left:10px;
    padding-bottom:5%;
}

.rightside h3{
    font-size:25px;
    margin-bottom:30px;
    margin-left:25%;
    
}

.rightside table{
    padding:5px 5px;
    background-color: #d6cea8;
    border:1px solid #d6cea8;
    border-radius: 10px;
    padding-bottom:15px;
    margin-bottom: 25px;
    box-shadow: 2px 5px 10px black;
    margin: auto;
}

.rightside tr{
    padding:5px 5px;
}

.rightside td{
    padding:5px 5px;
}

.Mata{
    background-color: #ebe5ca;
    transition: .5s ease-in-out;
}

.Maha{
    background-color: #ebe5ca;
    transition: .5s ease-in-out;
}

.Anu{
    background-color: #ebe5ca;
    transition: .5s ease-in-out;
}

.patom{
    background-color:#ebe5ca;
    transition: .5s ease-in-out;
}

.patom:hover{
    background-color:#f4f2de;
}

.Anu:hover{
    background-color:#f4f2de;
}

.Mata:hover{
    background-color:#f4f2de;
}

.Maha:hover{
    background-color:#f4f2de;
}

.patom img{
    margin-left: 20px;
}

.Mata img{
    margin-left: 20px;
}

.Anu img{
    margin-left: 20px;
}

.Maha img{
    margin-left: 20px;
}

.MyProfile{
    padding-bottom:50px;
    padding-top:20px;
    font-family: 'Noto Sans Thai', sans-serif;
    width:50%;
    margin:auto;
    background-color: #F6F0D7;
}

.MyProfile span{
    margin: auto;
    width:50%;
}

.bottom{
    position: absolute;
    margin-top:715px;
    padding:20px 0px;
    background-color: #948647;
    padding-bottom:20px;
    left:0;
    width:100%;
}

.contact{
    display: flex;
    width:50%;
    margin:auto;
}

ul.contact li{
    margin:0 30px;
    margin-top:12px;
    font-size:20px;
    list-style: none;
}

.contact li a{
    text-decoration: none;
    color:#ffffff;
    transition: .3s ease-in-out;
    padding-bottom:15px;
}

/*responsive*/

@media screen and (max-width:768px) {

    body{
        margin: 0;
        padding:0 0;
    }

    *{
        margin: 0;
        padding:0 0;
        box-sizing: border-box;
    }

    .middle{
        display: flex;
    }

    .MyProfile{
        float:right;
        padding-bottom:50px;
        padding-top:20px;
        font-family: 'Noto Sans Thai', sans-serif;
        width:75%;
        margin:auto;
        background-color: #F6F0D7;
    }
    .rightside{
        position: absolute;
        margin-top:770px;
        padding:20px 0px;
        padding-bottom:20px;
        margin-left:0;
        width:100%;
    }

    .leftside{
        float:left;
        width:25%;
        margin:auto;
        background-color: #ede7cd;
        margin-top:0px;
        padding-top:20px;
        padding-bottom:2.5%;
    }
    .leftside img{
        width: 100%;
    }

    .bottom{
        margin-top:650px;
        margin-left: auto;
        margin-right: auto;
    }
    ul.contact li{
        margin:0 20px;
    }
}

@media screen and (max-width:576px){

    .menu{
        width:100%;
    }

    h2{
        width:100%;
    }

    .middle{
        display: grid;
        gap: 10px;
    }

    .MyProfile{
        padding-bottom:50px;
        padding-top:20px;
        width:100%;
        margin:auto;
        background-color: #F6F0D7;
        position: absolute;
        margin-top:800px;
    }
    .rightside{
        position: absolute;
        margin-top:2000px;
        padding:20px 0px;
        padding-bottom:20px;
        margin-left:0;
        width:100%;
    }

    .leftside{
        width:100%;
        margin:auto;
        background-color: #ede7cd;
        margin-top:0px;
        padding-top:20px;
        padding-bottom:2.5%;
    }

    body{
        width:100%;
        margin: 0;
        padding:0 0;
    }

    *{
        margin: 0;
        padding:0 0;
        box-sizing: border-box;
    }

    .contact{
        display:block;
        width:50%;
        margin:auto;
    }
}