*{
    margin:0 0;
    padding:0 0;
    box-sizing: border-box;
}

body{
    background-color:#F6F0D7;
}

h1{
    padding-top:150px;
    font-family: 'Caprasimo', cursive;
}

.AllAc{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width:800px;
    margin:auto auto;
    margin-top:50px;
    background-color:#f0e6c3;
    padding : 30px 20px;
    box-shadow: 1px 1px 10px;
}


.Ac1 img{
    width:200px;
    box-shadow: 2px 5px 10px black;
    transition: .9s ease-in-out;
    position:sticky;
    border-radius: 20px;
}
.Ac2 img{
    width:200px;
    box-shadow: 2px 5px 10px black;
    transition: .9s ease-in-out;
    position:sticky;
    border-radius: 20px;
}
.Ac3 img{
    width:200px;
    transition: .9s ease-in-out;
    box-shadow: 2px 5px 10px black;
    position:sticky;
    
    border-radius: 20px;
}

.Ac1 img:hover{
    width: 250px;
}

.Ac2 img:hover{
    width: 250px;
}

.Ac3 img:hover{
    width: 250px;
}